.login-title {
  margin: 6rem auto 3rem auto;
  text-align: center;
}

.login-form-container {
  padding: 4rem 6rem 4rem 3rem;
  margin: 0 auto;
  position: relative;  
  display: flex;
  flex-flow: column;
  gap: 3.3rem;
  align-items: center;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form-button {
  position: relative;
  left: 4rem;
  width: 13rem;
  height: 3rem;
}


.login-error {
  position: relative;
  left: 48rem;
  background-color: #eec0c8;
  z-index: 1;
  text-align: center;
  padding: 1rem;
  display: inline;
}
