.login-title {
  
  position: relative;
  top: 10rem;
  text-align: center;
  margin-bottom:3.5rem;

  }

.login-form-container {
  padding: 4rem 6rem 4rem 3rem;
  position: relative;
  top: 10rem;
  left: 39rem;
  background-color: #E6E7E8;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  width:20%;
}

.login-form-label {
  display: block;
  margin-top: 1rem;
  flex: 1;
  font-size:1.2rem;
  font-weight: bold;
  line-height: 2rem;
}

.login-form-input {
  margin-left: 2rem;
  width:12rem;
  height:2rem;
  border-radius:2rem;
  border-style:solid;
  font-size:1.2rem;

}

.username-input {
  position:relative;
  left:1rem;
}

.login-form-button {
  position:relative;
  left:4rem;
  width:13rem;
  height:3rem;
}