.login-title {
  /* position: relative; */
  /* top: 2rem; */
  /* margin-bottom: 3.5rem; */
  margin: 6rem auto 3rem auto;
  text-align: center;
}

.login-form-container {
  /* border: solid 1px black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 4rem 6rem 4rem 3rem;
  margin: 0 auto;
  position: relative;
  /*   top: 10rem;
  left: 40rem; */
  /* background-color: #e6e7e8; */
  display: flex;
  flex-flow: column;
  gap: 3.3rem;
  align-items: center;
  width: 30%;
}

/* .login-form-label {
  display: block;
  margin-top: 1rem;
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
} */

/* .login-form-input {
  margin-left: 2rem;
  width: 12rem;
  height: 2rem;
  border-radius: 2rem;
  border-style: solid;
  font-size: 1.2rem;
} */

/* .username-input {
  position: relative;
  left: 1rem;
} */

.login-form-button {
  position: relative;
  left: 4rem;
  width: 13rem;
  height: 3rem;
}

/* .reminder-label {
  padding-left: 8rem;
} */

.login-error {
  position: relative;
  left: 48rem;
  background-color: #eec0c8;
  z-index: 1;
  text-align: center;
  padding: 1rem;
  display: inline;
}
