.chollopop-title{
font-family: var(--logo-font), 'Courier New', Courier, monospace;
}

.chollopop-description{
 font-size: 1.3rem;
 opacity: 0.7;
 width:30rem;
 margin:0 auto;
 padding-bottom:1rem;

}

.chollopop-question{
margin:0 auto;
font-size:2rem;
width:20rem;
}