.card-container {
  margin:0 auto;
  width: 50%;
  background-color: #E6E7E8;
  display:flex;
  gap:5rem;
  justify-content: flex-start;
  align-items: center;
  padding:10rem;
  
}

.card-image{

}

.card-info {
    padding-left: 2rem;
    font-size: 1.3rem;
}
.card-title {
  font-size: 1.5rem;
}

/* .card-tags {
    font-weight: bold;
} */

.card-delete-button {
    /* position:relative;
    bottom:4rem;
    left:50rem; */
    align-self: flex-end;
}