.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display:none;
  }

 
  .modal-section {
    position:fixed;
    background: white;
    width: auto;
    height: auto;
    top:7%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .show-modal {
    display: block;
  }
  
  