.layout-main {
  margin-top: 10rem;
  margin-bottom: 16rem;
}

.header{
  background-color: var(--second-color);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 1rem;
  margin-top: 10rem;
  background-color: var(--second-color);
  color: #000000;
 
}

.footer a {
  color: #000000;
}

.footer  svg:hover {
  transform: scale(1.3);
}
