.form-container{
    
    position:relative;
    top:0px;
    
}

form {
display:flex;
flex-flow: column nowrap;
align-items:center;

}

.form-field {
    flex:1;
    margin: 1rem 1rem; 
    
}

.form-field-tags {
  margin-top:2rem;
  width: 10rem;
}