.new-advert-container {
  position: relative;
  top: 6rem;
}

.new-advert-title {
  text-align: center;
}

.new-advert-form-container {

  position: relative;
  top:3rem;
  left: 27rem;
  width:50%;
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:space-around;
  gap:4rem;
  
 }

.new-advert-form-label {
  flex: 1;
  display: block;
  margin-top:1rem;
}

.new-advert-form-field {
display:inline-block;

}

.new-advert-form-select {
  display: inline-block;
  position:relative;
  right:2rem;

  
}

.new-advert-form-select-span {
  position:relative;
  right:2rem;
  bottom:1.5rem;
}

.file-field {
  position:relative;
  left:4rem;
}
