.card-styles{
  color: var(--light-color);

}

img{
  width:200px;
  height:200px;
}

.card{
 width: 18rem; 
 background-color: var(--first-color);
 color: var(--light-color);
}

.card-link {
  text-decoration: none;
}



.adverts-page-error {
  position: relative;
  top: 1.5em;
  left: 40rem;
  background-color: #eec0c8;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
}



