.card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  list-style-type: none;
}

.card-list-item {
  flex: 0 1 auto;
}

.card-list-item-link {
  text-decoration: none;
}

.card {
  background-color: aquamarine;
  border: solid black, 1px;
  padding: 1.5rem;
  width: 20rem;
}

.adverts-page-error {
  position: relative;
  top: -5.5em;
  left: 40rem;
  background-color: #eec0c8;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
}
