

.filter-area {
  /* border:1px black solid; */
  margin: 3rem auto;
}

.filter-title {
  margin-left: 4rem;
  margin-bottom: 3.5rem;
}

.filter-label {
  width: 6rem;
  flex: 0 1 auto;
}

.tags {
  position: relative;
  right: -10rem;
}

