@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --first-color: #052962;

  --second-color:#FFFFFF;
  --third-color: #AC2D16;  /* unused color yet */
  --text-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Roboto", "sans-serif"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
  color: var(--text-color);
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

