@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --first-color: #85F4FF;
  --second-color:#B8FFF9;
  --third-color: #F27843;
  --text-color: #000000;
}

body {
  margin: 0;
  font-family: "Roboto", "sans-serif"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
  color: var(--dark-color);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

